{% extends "trekker/base_trekker.html" %}
{% import "_macros.html" as macros %}

{% block page_title %}Trekker Profile Update Page{% endblock %}

{% block user_name %} Welcome {{ this_user.name }}!{% endblock %}



{% block main_section %}
<div class="list-page-wrapper">
    <h5 class="mb-3 text-center"> Trekker Profile Update Form</h5>
    <div class="form-narrow">
        <form action="{{ url_for('trekker.trekker_profile_update') }}" method="post">
            <div class="mb-3">
                <label for="id" class="form-label">Trekker ID</label>
                <input type="text" id="id" class="form-control" name="id" value="{{ this_user.id }}" disabled>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" name="name" maxlength="50" value="{{ this_user.name }}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" name="email" maxlength="255" value="{{ this_user.email }}" disabled>
            </div>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number</label>
                <input type="tel" id="phone_number" class="form-control" name="phone_number" maxlength="20" value="{{ this_user.phone_number }}">
            </div>
            <div class="mb-3">
                <label for="current_password" class="form-label">Current Password</label>
                <input type="password" id="current_password" class="form-control" name="current_password" maxlength="255" >
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" id="new_password" class="form-control" name="new_password" maxlength="255" >
            </div>
            
            
           
            
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-plus-lg"></i> Save Changes
                </button>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}

{% block return_link %}<a href="{{ url_for( 'trekker.trekker_profile') }}"><i class="bi bi-arrow-left"></i>  Return Back</a>{% endblock %}